body{
    background: linear-gradient(120deg, #702A7E, #017bab);
    margin: 0;
    padding: 0;
    height: 100vh;
    color:aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.boton{
    width: 15%;
    height: 50px;
    background:#ffffff;
    border: none;
    border-radius: 20px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size:20px;
    color: #252525;
}
     
   button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
   }
   .btn-eliminar{
      background-color: red;
      padding:5px 5px;
   }
   
   .btn-editar{
     background-color: #0d3d0f;
     padding:5px 5px;
   }

   button:hover {
    background-color: #45a049;
    color: white;
    
   }

   .div-empleados{
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
   }